.main {  
  min-height: 816px;
  background-color: #EDEDEB;
  /* overflow: hidden; */
}

.main__wrapper {
  position: relative;
  max-height: 816px;
  min-width: 100%;
}

.main__fitness-man {
  position: absolute;
  z-index: 1;
  max-width: 870px;
  top: -26px;
}

.main__title {
  position: absolute;
  top: 198px;
  left: 386px;
  font-size: 140px;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #CFCFCD;
}

.main__description {
  position: absolute;
  right: 140px;
  top: 408px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  Width: 487px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 2px; 
}

.main__description-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}