/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

input {
  outline: none;
}

@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial-Black.eot");
  src: url("../fonts/Arial-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial-Black.woff") format("woff"), url("../fonts/Arial-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
*, a, p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
}

h1, h2, h3 {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.header {
  padding: 30px 10px;
  background: linear-gradient(180deg, #EBEBE9 0%, #EDEDEB 100%);
  max-height: 140px;
}
@media screen and (max-width: 952px) {
  .header {
    padding: 16px 32px;
  }
  .header__logo {
    width: 117px;
    height: 64px;
  }
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__wrapper .navigation__list {
  display: flex;
}
@media screen and (max-width: 952px) {
  .header__wrapper .navigation__list {
    display: none;
  }
}
.header__wrapper .navigation__list-item {
  font-size: 20px;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header__wrapper .navigation__list-link {
  padding: 10px 32px;
  text-decoration: none;
  color: #292929;
}
.header__wrapper .burger {
  display: none;
  position: relative;
  border: 1px solid #292929;
  border-radius: 4px;
  background: transparent;
  width: 48px;
  height: 48px;
}
@media screen and (max-width: 952px) {
  .header__wrapper .burger {
    display: block;
  }
}
.header__wrapper .burger::before, .header__wrapper .burger::after {
  content: "";
  left: 13px;
  position: absolute;
  display: block;
  width: 22px;
  height: 3px;
  background: #000;
}
.header__wrapper .burger::before {
  top: 13px;
  box-shadow: 0 9px 0 #000;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
.header__wrapper .burger::after {
  bottom: 13px;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}
.header__wrapper .burger.active::before {
  top: 22px;
  left: 10px;
  width: 28px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.header__wrapper .burger.active::after {
  bottom: 22px;
  left: 10px;
  width: 28px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}

.main {
  background: linear-gradient(180deg, #EBEBE9 0%, #EDEDEB 100%);
}
.main__wrapper {
  position: relative;
}
@media screen and (max-width: 952px) {
  .main__wrapper {
    max-height: 505px;
  }
}
.main__image-man {
  position: absolute;
  z-index: 1;
  left: -150px;
  bottom: 0;
}
@media screen and (max-width: 952px) {
  .main__image-man {
    width: 624px;
    left: -65px;
  }
}
.main__title {
  position: relative;
  top: 119px;
  padding-left: 282px;
  font-size: 160px;
  letter-spacing: 8px;
  color: #CFCFCD;
}
@media screen and (max-width: 952px) {
  .main__title {
    top: 70px;
    padding-left: 96px;
    font-size: 100px;
  }
}
.main__description {
  position: relative;
  top: 33px;
  padding: 11px 32px;
  margin-left: auto;
  max-width: 587px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 2px;
}
@media screen and (max-width: 952px) {
  .main__description {
    top: -131px;
    max-width: 405px;
    letter-spacing: 1.5px;
  }
}
.main__description-link {
  display: block;
  padding: 11px 32px;
  padding-bottom: 192px;
  margin-top: 14px;
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 952px) {
  .main__description-link {
    padding-bottom: 0;
  }
}

.about {
  position: relative;
  padding-top: 170px;
}
@media screen and (max-width: 952px) {
  .about {
    padding: 0px 3px 1px 32px;
  }
}
.about__title {
  position: relative;
  font-size: 80px;
  z-index: 3;
}
@media screen and (max-width: 952px) {
  .about__title {
    top: 65px;
    font-size: 60px;
  }
}
.about__description {
  position: relative;
  z-index: 2;
  top: -222px;
  left: 200px;
  padding: 335px 62px 57px 57px;
  max-width: 562px;
  border: 6px solid #FF8340;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 20%;
}
@media screen and (max-width: 952px) {
  .about__description {
    top: -144px;
    left: 85px;
    padding: 276px 39px 14px 26px;
    max-width: 504px;
    line-height: 120%;
    letter-spacing: 1.5px;
  }
}
.about__description-link {
  display: block;
  padding: 11px 32px;
  margin-top: 14px;
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 952px) {
  .about__description-link {
    margin-top: 0px;
    padding: 36px 32px 11px 32px;
  }
}
.about__image-girl {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 952px) {
  .about__image-girl {
    width: 598px;
    height: 374px;
  }
}

.direction {
  background-color: #292929;
}
.direction__wrapper {
  padding: 125px 0 80px 0;
}
@media screen and (max-width: 952px) {
  .direction__wrapper {
    padding: 53px 32px;
  }
}
.direction__wrapper-title {
  margin-bottom: 34px;
  font-size: 80px;
  line-height: 160px;
  letter-spacing: 5%;
  color: #FFFFFF;
}
@media screen and (max-width: 952px) {
  .direction__wrapper-title {
    font-size: 60px;
    margin-bottom: 0;
  }
}
.direction__wrapper-descrip {
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 10%;
  color: #FFFFFF;
}
@media screen and (max-width: 952px) {
  .direction__wrapper-descrip {
    line-height: 120%;
    letter-spacing: 2px;
  }
}

.subscribe {
  padding: 110px 0 34px 0;
}
@media screen and (max-width: 952px) {
  .subscribe {
    padding: 53px 32px 32px 32px;
  }
}
.subscribe__title {
  margin-bottom: 83px;
  font-size: 80px;
  line-height: 90px;
}
@media screen and (max-width: 952px) {
  .subscribe__title {
    font-size: 60px;
  }
}
.subscribe-card {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 952px) {
  .subscribe-card {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
.subscribe-card .card {
  display: flex;
  flex-direction: column;
  padding: 38px 28px 32px 28px;
  width: 310px;
  align-items: center;
  border: 6px solid #292929;
}
.subscribe-card .card:hover {
  transform: scale(1.1);
  border: 6px solid #FF8340;
}
@media screen and (max-width: 952px) {
  .subscribe-card .card:hover {
    transform: scale(1.03);
  }
}
@media screen and (max-width: 952px) {
  .subscribe-card .card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 890px;
    height: 248px;
    padding: 66px 56px 66px 65px;
  }
}
.subscribe-card .card__icon {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: Arial;
  line-height: normal;
}
.subscribe-card .card__icon-number {
  padding: 5px 24px 9px 20px;
  width: 76px;
  height: 76px;
  font-size: 40px;
  font-weight: 500;
  border: 4px solid #292929;
  border-radius: 43px;
}
.subscribe-card .card__icon-last {
  padding: 5px 0px 0px 5px;
}
.subscribe-card .card__icon-subtitle {
  margin-bottom: 74px;
  color: #292929;
  font-family: Arial;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
}
@media screen and (max-width: 952px) {
  .subscribe-card .card__icon-subtitle {
    margin-bottom: 0;
  }
}
.subscribe-card .card__description {
  margin-bottom: 30px;
  width: 234px;
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 2px;
}
@media screen and (max-width: 952px) {
  .subscribe-card .card__description {
    margin-bottom: 0;
  }
}
.subscribe-card .card .price__box {
  text-align: center;
}
@media screen and (max-width: 952px) {
  .subscribe-card .card .price__box {
    display: flex;
    flex-direction: column;
  }
}
.subscribe-card .card .price__box .card__price {
  margin-bottom: 16px;
  color: #292929;
  font-family: Arial;
  font-size: 45px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 2.25px;
}
@media screen and (max-width: 952px) {
  .subscribe-card .card .price__box .card__price {
    margin-bottom: 0;
  }
}
.subscribe-card .card .price__box .card__button {
  padding: 11px 0px;
  color: #292929;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 2px;
  border: none;
  background-color: white;
}
.subscribe-card .card .price__box .card__button:hover {
  color: #FF8340;
}
.subscribe-card .card .price__box .card__button:active {
  color: #843500;
}
.subscribe-card .card:hover .card__icon-number {
  transform: scale(1.1);
  color: #FF8340;
  border: 6px solid #FF8340;
}
@media screen and (max-width: 952px) {
  .subscribe-card .card:hover .card__icon-number {
    transform: scale(1.03);
  }
}/*# sourceMappingURL=style.css.map */