.direction {
  background-color: #292929;

  &__wrapper {
    padding: 125px 32px 80px 32px;

    @media screen and (max-width: 952px) {
      padding: 53px 32px;
    }

    &-title {
      margin-bottom: 34px;
      font-size: 80px;      
      line-height: 160px;
      letter-spacing: 5%;
      color: #FFFFFF;

      @media screen and (max-width: 952px) {
        font-size: 60px;
        margin-bottom: 0;
      }
    }

    &-descrip {
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 10%;
      color: #FFFFFF;

      @media screen and (max-width: 952px) {
        line-height: 120%;
        letter-spacing: 2px;
      }
    }
  }  
}