.feedback {
  background-color: #FF8340;

  &__wrapper {
    padding: 40px 0 176px 0;

    @media screen and (max-width: 952px) {
      padding: 32px;
    }
  }

  &__title {
    text-align: center;
    font-size: 45px;
    line-height: 160px;
    letter-spacing: 2px;
  }

  &__line {
    margin: 0 auto 50px auto;
    width: 64px;
    height: 6px;
    background-color: #292929;
  }

  &__description {
    font-size: 20px;
    line-height: 100%;
    letter-spacing:2px;
    margin-bottom: 40px;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 0;

    &__input {
      padding: 18px 0 17px 34px;
      width: 49%;
      border: 2px solid #CFCFCD;
      
      &::placeholder {
        font-size: 20px;
        letter-spacing: 2px;
        color: #B0B0B0;
      }
    }

    &__select {
      padding: 9px 0 14px 29px;
      font-size: 20px;
      letter-spacing: 2px;
      color: #FFF;
      background-color: #292929;
      border: 2px solid #292929;
      appearance: none;
      background-image: url("../logo/arrow.png");
      background-repeat: no-repeat;
      background-position: calc(100% - 40px) center;
      outline: none;
      cursor: pointer;
    }

    &__massage {
      padding: 18px 0 0 34px;
      width: 100%;
      background: #FFF;
      border: 2px solid #CFCFCD;
      overflow-y: hidden; 

      &::placeholder {
        padding: 18px 0 157px 34px;
        font-size: 20px;
        letter-spacing: 2px;
        color: #B0B0B0;
      }
    }

    &__submit {
      margin-left: auto;
      padding: 11px 0;
      font-size: 20px;
      line-height: normal;
      letter-spacing: 2px;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
}