.main {  
  background: linear-gradient(180deg,#EBEBE9 0%, #EDEDEB 100%); 

  &__wrapper {
    position: relative;
    padding-top: 100px;

    @media screen and (max-width: 952px) {
      max-height: 505px;
      padding-top: 0;
    }
  }

  &__image-man {
    position: absolute;
    z-index: 1;
    left: -150px;
    bottom: 0;

    @media screen and (max-width: 952px){
      width: 624px;
      left: -65px;
    }
  }

  &__title {
    position: relative;
    top: 119px;
    padding-left: 282px;
    font-size: 160px;
    letter-spacing: 8px;
    color: #CFCFCD;

    @media screen and (max-width: 952px) {
      top: 70px;
      padding-left: 96px;
      font-size: 100px;
    }
  }

  &__description {
    position: relative;
    top: 33px;
    padding: 11px 32px;
    margin-left: auto;
    max-width: 587px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px; 

    @media screen and (max-width:952px){
    top: -131px;
    max-width: 405px;
    letter-spacing: 1.5px;
    }

    &-link {
      display: block;
      padding: 11px 32px;
      padding-bottom: 192px;
      margin-top: 14px;
      text-decoration: none;
      color: #000;

      @media screen and (max-width:952px) {
        padding-bottom: 0;
      }
    }
  }
}